
# General
*.log
*.cache
*.tmp
*.temp
*.swp

# Composer
/vendor/
# PHPStorm project files
.idea/

# Node modules (if using Node.js for assets)
/node_modules/

# Environment variables and sensitive data
.env
.env.*.local

# Cache and session files
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Laravel-specific files (if applicable)
public/hot
public/storage
homestead.yaml
npm-debug.log
yarn-error.log
.env.backup

# Ignore PHPUnit result cache
.phpunit.result.cache